version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: ${COMPOSE_PROJECT_NAME}-postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app
    # Порт не пробрасываем наружу, только внутренняя сеть

  pgbouncer:
    image: edoburu/pgbouncer
    container_name: ${COMPOSE_PROJECT_NAME}-pgbouncer
    restart: always
    env_file:
      - .env
    environment:
      DB_USER: ${PGBOUNCER_DB_USER}
      DB_PASSWORD: ${PGBOUNCER_DB_PASS}
      DB_HOST: db
      DB_PORT: 5432
      POOL_MODE: session
      MAX_DB_CONNECTIONS: 0
      DEFAULT_POOL_SIZE: 40
      ADMIN_USERS: postgres,${PGBOUNCER_DB_USER}
      AUTH_TYPE: scram-sha-256
    ports:
      - "6432:5432"
    depends_on:
      - db
    networks:
      - app

  redis:
    image: redis:alpine
    container_name: ${COMPOSE_PROJECT_NAME}-redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  grafana:
    image: grafana/grafana
    container_name: ${COMPOSE_PROJECT_NAME}-grafana
    restart: always
    env_file:
      - .env
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
    ports:
      - "3000:3000"
    networks:
      - app
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  pg_data:
  redis_data:
  grafana_data:

networks:
  app:
    driver: bridge
